<div class="pane">
	<div class="container">
		<h1 class="center">Hotel Block Hilton Cleveland Downtown</h1>
		<p class="center description">We have reserved a block of rooms at the Hilton Cleveland Downtown which is conveniently located directly across the street from our reception at the Old Courthouse.The discounted rate is on a first come first serve basis. The last day to book is October 23.</p>
		<div class="hotel-block">
			<img src="img/hilton.jpeg" height=168 width=275 />
			<div class="name">Hilton Cleveland Downtown</div>
			<div class="address">100 Lakeside Aveneue East, Cleveland, OH 44114</div>
			<div class="phone">(216) 413-5000</div>
			<div class="discount">Group Code - KLSUWE</div>
			<a class="button" target="_blank" href="https://book.passkey.com/go/KLSUWE">View</a>
		</div>
		<h1 class="center">Transportation</h1>
		<p class="center description">Bus transportation will be provided from the Hilton Cleveland Downtown to Sts. Constantine and Helen as well as returning back to the Hilton Cleveland Downtown prior to the reception at 5:30pm.</p>
	</div>
</div>
