<div class="pane">
	<div class="container">
		<h1 class="center">Schedule of events</h1>


		<div class="event-wrapper">
			<div class='icon'>
				<img src="img/welcome.svg" height=50 width=50 />
			</div>
			<div class='event-section-wrapper'>
				<div class='event-name'>Welcome Party</div> 
				<div class="event-detail">Friday, November 22, 2024</div>
				<div class="event-detail">7:30pm</div>
				<div class="event-detail break">Olivia</div>
				<div class="event-detail break">408 W St Clair Aveneue, Cleveland, OH 44113</div>
			</div>
		</div>

		<div class="event-wrapper">
			<div class='icon'>
				<img src="img/wedding.svg" height=50 width=50 />
			</div>
			<div class='event-section-wrapper'>
				<div class='event-name'>Wedding Ceremony</div> 
				<div class="event-detail">Saturday, November 23, 2024</div>
				<div class="event-detail">2:00 PM</div>
				<div class="event-detail break">Sts. Constantine & Helen Greek Orthodox Cathedral</div>
				<div class="event-detail">3352 Mayfield Road, Cleveland, OH 44118</div>
			</div>
		</div>

		<div class="event-wrapper">
			<div class='icon'>
				<img src="img/reception.svg" height=50 width=50 />
			</div>
			<div class='event-section-wrapper'>
				<div class='event-name'>Reception</div> 
				<div class="event-detail">Saturday, November 23, 2024</div>
				<div class="event-detail">5:30 PM</div>
				<div class="event-detail break">The Old Courthouse</div>
				<div class="event-detail">1 Lakeside Aveneue, Cleveland, OH, 44114</div>
			</div>
		</div>

	</div>
</div>
