<div class="hero-wrapper hidden-xs">
	<div class="text-wrapper">
		<div class="title">We're <br> Getting <br> Married</div>
		<div class="subtitle">November 23, 2023</div>
	</div>
</div>
<div class="mobile-hero visible-xs">
	<div class="text-wrapper center">
		<div class="title">We're Getting Married!</div>
		<div class="subtitle">November 23, 2023</div>
	</div>
	<img src="img/hero-min.jpg" height="100%" width="100%" />	
</div>
<div class="pane">
	<div class="container">
		<div class="row">
			<div class="img-col col-md-3 col-sm-6 col-xs-12">
				<img src="img/home-1.jpg" height="100%" width="100%" />	
			</div>
			<div class="img-col col-md-3 col-sm-6 col-xs-12">
				<img src="img/home-2.jpg" height="100%" width="100%" />	
			</div>
			<div class="img-col col-md-3 col-sm-6 col-xs-12">
				<img src="img/home-3.jpg" height="100%" width="100%" />	
			</div>
			<div class="img-col col-md-3 col-sm-6 col-xs-12">
				<img src="img/home-4.jpg" height="100%" width="100%" />	
			</div>
		</div>
	</div>
</div>
