<div class="pane">
	<div class="container">
		<h1 class="center">Photos</h1>
		
		<div class="container photos">
			<div class="row">
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p1.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p2.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p5.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p6.jpg" height="100%" width="100%" />	
				</div>
				
				
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p9.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p3.jpg" height="100%" width="100%" />	
				</div>
			
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p7.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p14.jpg" height="100%" width="100%" />	
				</div>

				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p12.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p13.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p10.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p11.jpg" height="100%" width="100%" />	
				</div>
				
				
				<div class="img-col col-md-3 col-sm-6 col-xs-12 visible-md visible-lg">
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p15.jpg" height="100%" width="100%" />	
				</div>
				<div class="img-col col-md-3 col-sm-6 col-xs-12">
					<img src="img/p8.jpg" height="100%" width="100%" />	
				</div>
			</div>
		</div>
	</div>
</div>
