<div class="pane">
	<div class="container">
		<h1 class="center">Registry</h1>
		<div class="registry-wrapper">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="provider">
						<img src="img/registry_ms.png" height=75 width=192 />
						<div class="button-wrapper">
							<a class="button" target="_blank" href="https://mulhollandsachs.com/registry/diana-klonaris-david-sutherland">Shop registry</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
		 			<div class="provider">
						<img src="img/crosell-and-co-logo.jpg" height=75 width=192 />
						<div class="button-wrapper">
							<a class="button" target="_blank" href="https://crosell.myshoplocal.com/registry.cfm/47376/Klonaris/November-23-2024">Shop registry</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
		 			<div class="provider">
						<img src="img/registry_zola.png" height=75 width=192 />
						<div class="button-wrapper">
							<a class="button" target="_blank" href="https://www.zola.com/registry/davidanddiananovember23">Shop registry</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
