<div class="pane">
	<div class="container">
		<h1 class="center">Hotels</h1>
		<p class="center description">We have booked room blocks at the following hotel.  We will provide a shuttle between the hotel and the church the day of the wedding.  The hotel is located directly accross the street from our reception at The Old Courthouse.</p>
		<div class="hotel-block">
			<img src="img/hyatt.png" height=168 width=275 />
			<div class="name">Hilton Cleveland Downtown</div>
			<div class="address">100 Lakeside Aveneue East, Cleveland, OH 44114</div>
			<div class="phone">(216) 413-5000</div>
			<div class="discount">Discount Code - Comming Soon</div>
			<a class="button" target="_blank" href="https://www.hilton.com/en/hotels/cledohh-hilton-cleveland-downtown/?SEO_id=GMB-AMER-HH-CLEDOHH&y_source=1_MzI2NDc5Ny03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D">View</a>
		</div>
	</div>
</div>
